
	<%= render "shared/header" %>

	<!-- Using only the large-block-grid -->
	<div class="row">
		<ul class="small-block-grid-3 small-centered">
			<% @dares.each do |dare| %>
			  	<li><a href="/dares/<%=dare.id%>"><img src="http://img.youtube.com/vi/<%=dare.url %>/0.jpg"></a>
			  		<a href="/dares/<%=dare.id%>"><h3><%=dare.title%></h3></a>
			  		<a href="/users/<%=dare.user.id%>"><%=dare.user.name%></a>
			  		<p><%=truncate(dare.description, length: 140)%></p>
			  		<p><%=number_to_currency(dare.current_price, :unit => '$')%> out of <%=number_to_currency(dare.target_price, :unit => '$')%> has been raised for this dare.</p> 
			  		<div class="progress large-12 success round"><span class="meter" style="width: <%=dare.percent%>%"></span></div>
			  		<p><b>This dare expires on <%=dare.inTime.to_formatted_s(:long) %>.</b></p>
			  	</li>
		  	<%end%>
		</ul>
		<br>
		<%= paginate @dares %>
		<br>
	</div>
