
	<div class="row">
		<div class="large-12 columns">
			<h1 class="docs header">CrowdFUNding</h1>
			<h4 class="subheader">Have you ever said, "I would pay money to see that"?  Well now you can!</h4>
		</div>
	</div>
	<!-- Using only the large-block-grid -->
	<div class="row">
		<ul class="small-block-grid-4 small-centered">
			<% @dares.each do |dare| %>
		  	<li><a href="/dares/<%=dare.id%>"><%= image_tag("demo1.jpg", :alt => "demo") %></a>
		  		<a href="/dares/<%=dare.id%>"><h3><%=dare.title%></h3></a>
		  		<p><a href="/users/<%=dare.user.id%>"><%=dare.user.username%></a></p>
		  		<p><%=dare.description%></p> 
		  	</li>
		  	<%end%>
		</ul>
	</div>
