
	<!-- Body content-->
	<div class="row">
			<% if flash[:success] %>
				<div data-alert class="alert-box success radius"><%= flash[:success]%></div>
			<%end%>
	  	<div class="small-10 small-centered columns">
			

			<h3><%= @dare.title %></h3>
			<h4><a href="/users/<%=@dare.user.id%>"><%= @dare.user.name%></a></h4>
			<%if current_user == @dare.user %>
				<%if @dare.completed && @dare.finshedurl.nil?%>
					<a href="/dares/<%=@dare.id%>/edit">You must complete this dare now to get your money.</a>	
				<%end%>
			<%end%>

			
  			<div class="flex-video">
  				<%if @dare.completed_funding && !(@dare.finshedurl.nil?) %>
					<iframe width="560" height="315" src="//www.youtube.com/embed/<%=@dare.finshedurl%>" frameborder="0" allowfullscreen></iframe>
  				<%else%>
  				<iframe width="560" height="315" src="//www.youtube.com/embed/<%=@dare.url%>" frameborder="0" allowfullscreen></iframe>
  				<%end%>
			</div>
	  		<p><%= @dare.description %>
	  			<%if @dare.completed_funding && !(@dare.finshedurl.nil?) %>
	  			<%else%>
	  			<form action="/dares/<%=@dare.id%>/charges" method="POST" class="payform">
	  			  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	  			  <h6>$1 Dare</h6>
				  <script
				    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
				    data-key="pk_test_vZvHiuFoN6d4FEw1ZdQlTohW"
				    data-amount="100"
				    data-name="$1 Dare"
				    data-description="<%=@dare.title%>">
				  </script>
				  <input type="hidden" name="pay" value="1">
				</form>
				<form action="/dares/<%=@dare.id%>/charges" method="POST" class="payform">
				  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<h6>$5 Dare</h6>
				  <script
				    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
				    data-key="pk_test_vZvHiuFoN6d4FEw1ZdQlTohW"
				    data-amount="500"
				    data-name="$5 Dare"
				    data-description="<%=@dare.title%>">
				  </script>
				  <input type="hidden" name="pay" value="5">
				</form>
				<form action="/dares/<%=@dare.id%>/charges" method="POST" class="payform">
			      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<h6>$10 Dare</h6>
				  <script
				    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
				    data-key="pk_test_vZvHiuFoN6d4FEw1ZdQlTohW"
				    data-amount="1000"
				    data-name="$10 Dare"
				    data-description="<%=@dare.title%>">
				  </script>
				  <input type="hidden" name="pay" value="10">
				</form>
				<form action="/dares/<%=@dare.id%>/charges" method="POST" class="payform">
				  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<h6>$20 Dare</h6>
				  <script
				    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
				    data-key="pk_test_vZvHiuFoN6d4FEw1ZdQlTohW"
				    data-amount="2000"
				    data-name="$20 Dare"
				    data-description="<%=@dare.title%>">
				  </script>
				  <input type="hidden" name="pay" value="20">
				</form>
				<form action="/dares/<%=@dare.id%>/charges" method="POST" class="payform">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<h6>$50 Dare</h6>
				  <script
				    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
				    data-key="pk_test_vZvHiuFoN6d4FEw1ZdQlTohW"
				    data-amount="5000"
				    data-name="$50 Dare"
				    data-description="<%=@dare.title%>">
				  </script>
				  <input type="hidden" name="pay" value="50">
				</form>
				<form action="/dares/<%=@dare.id%>/charges" method="POST" class="payform">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<h6>$100</h6>
				  <script
				    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
				    data-key="pk_test_vZvHiuFoN6d4FEw1ZdQlTohW"
				    data-amount="10000"
				    data-name="$100 Dare"
				    data-description="<%=@dare.title%>">
				  </script>
				  <input type="hidden" name="pay" value="100">
				</form>
				<%end%>
	  		</p>
	  		<p><%= number_to_currency(@dare.current_price, :unit => "$") %> out of <%= number_to_currency(@dare.target_price, :unit=> "$")%> has been raised </p>
	  		<div class="progress large-6 success round"><span class="meter" style="width: <%=@dare.percent%>%"></span></div>
	  		<form action="/dares/<%=@dare.id%>/comments" method="post">
				<input type="text" name="comment[comment]" id="" placeholder="Leave a comment...">
				<input type="hidden" name="comment[current_user.id]">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="submit" value="Comment!" class="button">
	  		</form>
	  		<div class="row">
	  			<%@comments.each do |comment|%>
	  			<div class="comment">
	  				<p></p>
	  			</div>
	  			<%end%>
	  		</div>
	  	</div>
	</div>

	
