
	<!-- Body content-->
	<div class="row">
	  	<div class="small-10 small-centered columns">
			<h3><%= @dare.title %></h3>
			<h4><%= @dare.user.name%></h4>
  			<div class="flex-video">
  				<iframe width="560" height="315" src="//www.youtube.com/embed/<%=@dare.url%>" frameborder="0" allowfullscreen></iframe>
			</div>
	  		<p><%= @dare.description %>
	  			<form action="/dares/<%=@dare.id%>/charges#create" method="POST">
				  <script
				    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
				    data-key="pk_test_vZvHiuFoN6d4FEw1ZdQlTohW"
				    data-amount="100"
				    data-name="$1 Dare"
				    data-description="<%=@dare.title%>">
				  </script>
				</form>
	  		</p>
	  		<p><%= number_to_currency(@dare.current_price, :unit => "$") %> out of <%= number_to_currency(@dare.target_price, :unit=> "$")%> has been raised </p>
	  		<div class="progress large-6 success round"><span class="meter" style="width: <%=@dare.percent%>%"></span></div>
        	
			<% if current_user %> 	
	        	<form action="/dares/<%=@dare.id%>/comments" method="POST">
	        		<textarea placeholder="Leave a comment..." name="comment[comment]"></textarea>
	        		<input type="hidden" name="comment[user_id]" value="<%= current_user.id%>">
	        		<input type="submit" class="button" value="Comment">
	        	</form>
	        <% else %>
	        	<p>You must <a href="/auth/facebook"> sign up or login </a>comment</p>
	        <%end%>
	        <% @comments.each do |comment| %>
				<div class="comment">
					<p><a href="/users/<%= comment.user.id %>" %><%=comment.user.name%></a></p>
					<p><%=comment.comment%></p>
				</div>
	        <% end %>
	  	</div>
	</div>

	
