
	<!-- Body content-->
	<div class="row">
	  	<div class="small-10 small-centered columns">
			<h3><%= @dare.title %></h3>
			<h4><%= @dare.user.name%></h4>
  			<div class="flex-video">
  				<iframe width="560" height="315" src="//www.youtube.com/embed/<%=@dare.url%>" frameborder="0" allowfullscreen></iframe>
			</div>
	  		<p><%= @dare.description %></p>
	  		<div class="progress large-6 success round"><span class="meter" style="width: <%=(@dare.current_price/@dare.target_price)*100%>%"></span></div>
        	<textarea placeholder="Leave a comment..."></textarea>
        	<input type="submit" class="button" value="Comment">
	  	</div>
	</div>