<div class="row">
		<div class="large-12 columns">
			<h1 class="docs header"><%=@user.name%></h1>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="section-container auto" data-section>
		  		<section>
		    		<p class="title" data-section-title><a href="#panel1">Active or completed dares</a></p>
		    		<div class="content" data-section-content>
		      			<ul class="small-block-grid-4 small-centered">
		      				<%@user.dares.all.each do |dare| %>
						  	<li><a href="/dares/<%=dare.id%>"><img src="http://img.youtube.com/vi/<%=dare.url %>/0.jpg"></a>
								<a href="/dares/<%=dare.id%>"><h3><%=dare.title%></h3></a>
						  		<p><%=dare.description%></p> 
						  	</li>
						  	<%end%>
						</ul>
		    		</div>
		 		</section>
			</div>
		</div>
	</div>