<div class="row">
		<div class="large-12 columns">
			<h1 class="docs header"><%=@user.username%></h1>
			<p class="subheader"><%=@user.bio%></p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="section-container auto" data-section>
		  		<section>
		    		<p class="title" data-section-title><a href="#panel1">Active or completed dares</a></p>
		    		<div class="content" data-section-content>
		      			<ul class="small-block-grid-4 small-centered">
						  	<li><a href="#"><%= image_tag("demo1.jpg", :alt => "demo") %></a>
								<h3>Title</h3>
						  		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p> 
						  	</li>
						  	<li><a href="#"><%= image_tag("demo1.jpg", :alt => "demo") %></a>
								<h3>Title</h3>
						  		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p> 
						  	</li>
						  	<li><a href="#"><%= image_tag("demo1.jpg", :alt => "demo") %></a>
								<h3>Title</h3>
						  		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p> 
						  	</li>
						  	<li><a href="#"><%= image_tag("demo1.jpg", :alt => "demo") %></a>
								<h3>Title</h3>
						  		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p> 
						  	</li>
						</ul>
		    		</div>
		 		</section>
		  		<section>
		    		<p class="title" data-section-title><a href="#panel1">Dares Funded</a></p>
		    		<div class="content" data-section-content>
		      			<ul class="small-block-grid-4 small-centered">
						  	<li><a href="#"><%= image_tag("demo1.jpg", :alt => "demo") %></a>
								<h3>Title</h3>
						  		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p> 
						  	</li>
						  	<li><a href="#"><%= image_tag("demo1.jpg", :alt => "demo") %></a>
								<h3>Title</h3>
						  		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p> 
						  	</li>
						  	<li><a href="#"><%= image_tag("demo1.jpg", :alt => "demo") %></a>
								<h3>Title</h3>
						  		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p> 
						  	</li>
						</ul>
		    		</div>
		  		</section>
			</div>
		</div>
	</div>