  <div class="fixed">
    <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to "CrowdDare BETA", controller: "dares", action: "index" %></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>


    <section class="top-bar-section">
      <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li><%= link_to "Home", controller: "dares", action: "index" %></li>
          <li class="divider"></li>
          <li><a href="#"><%= link_to "Create a Dare", controller: "dares", action: "new" %></a>
          <li class="divider"></li>
          <li><a href="/about">About</a></li>
          <li class="divider"></li>
          <li><a href="/contact">Contact</a></li>
          <li class="divider"></li>
          <li><a href="/bugs/new">Submit a bug</a></li>
          <li class="divider"></li>
          <%if current_user && current_user.name == "Kris Hamoud" %>
            <li><a href="/bugs">Submit a bug</a></li>
            <li class="divider"></li>
          <%end%>
          
        </ul>

      <!-- Right Nav Section -->
      <ul class="right">
          <li class="divider hide-for-small"></li>
          <li class="divider"></li>
          <li class="has-form">
           <% if current_user %>
            <a href="/users/<%= current_user.id%>"><%=current_user.name%></a>
          </li>
          <li class="divider"></li>
          <li class="has-form">
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          </li>
            <% else %>
              <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
           <% end %>
        </ul>
      </section>
      <section class="top-bar-section" id="head">
      </section>
    </nav>
  </div>