  <div class="fixed">
    <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to "PayToSee", controller: "dares", action: "index" %></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>


    <section class="top-bar-section">
      <!-- Left Nav Section -->
        <ul class="left">
          <li class="divider"></li>
          <li><%= link_to "Home", controller: "dares", action: "index" %></li>
          <li class="divider"></li>
          <li><a href="#"><%= link_to "Create a Dare", controller: "dares", action: "new" %></a>
          <li class="divider"></li>
          <li><a href="#">About</a></li>
          <li class="divider"></li>
          <li><a href="#">Contact</a></li>
          <li class="divider"></li>
        </ul>

      <!-- Right Nav Section -->
      <ul class="right">
          <li class="divider hide-for-small"></li>
          <li class="divider"></li>
          <li class="has-form">
            <form>
              <div class="row collapse">
                <div class="small-8 columns">
                  <input type="text">
                </div>
                  <div class="small-4 columns">
                  <a href="#" class="button">Search</a>
                </div>
              </div>
            </form>
          </li>
          <li class="divider show-for-small"></li>
          <li class="divider"></li>
          <li class="has-form">
           <% if current_user %>
            <a href="/users/<%= current_user.id%>"><%=current_user.name%></a>
          </li>
          <li class="divider"></li>
          <li class="has-form">
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          </li>
            <% else %>
              <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
           <% end %>
        </ul>
      </section>
    </nav>
  </div>